# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
coverage.xml
junit.xml
htmlcov/

# Environment
.env
envfiles/

# IDEs
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Docker volumes
pgdata/
